# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Uploads and user-generated content
/backend/uploads/
/backend/upload/
/uploads/
/upload/

# OS metadata
.DS_Store
Thumbs.db

# Build outputs
dist/
desktop-client/dist/
*.exe

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
