PORT=10002
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=lbstaff
UPLOADS_DIR=D:/lbstaff_uploads
UPDATES_DIR=updates
UPDATE_FILE_ID=file-3447a60cc0ee408ba7e70b0fad1210c8
